body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap:1.5em;
}

nav a {
    text-decoration: none;
    color:var(--black);
}

#submit{
    width: 100%;
}
#forgot-password{
    margin-top: 8em;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#forgot-password form {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#forgot-password .box > p {
    font-size: 2em;
    padding: 1em;
}

#error-username{
    padding-top: 1em;
}

footer{
    margin-top: 20em;
}
footer .footer-paragraph{
text-align: center;
}

@media screen and (max-width: 992px){
    #forgot-password{
        width: 100%;
        transition: all 300ms ease;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}
