@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
    --black : black;
    --white:white;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type:none;
    font-family: 'Acme', serif;
}
text{
    display: none;
}
body{
    padding-inline: 1.5em;
    padding :1.5em 1.5em 0 ;
}

a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap:1.5em;
}

nav a {
    text-decoration: none;
    color:var(--black);
}
a:visited{
    color:var(--black);
}

footer {
    padding-block: 2.6em;
}

footer .footer-paragraph{
    padding-top: 4em;
}
