nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap:1.5em;
}

nav a {
    text-decoration: none;
    color:var(--black);
}

#submit{
    width: 100%;
}
#reset-password{
    margin-top: 8em;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#reset-password form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
