body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#submit{
    width: 100%;
}
#login{
    margin-top:5em;
    width:80%;
}
#forgot-password{
    color: var(--black);
    display: block;
}
#forgot-password:visited{
    color: var(--black);
}


#login h1{
    margin-top:3em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#login .text-danger {
    padding-top:.5em;
}
