
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap:1.5em;
}

nav a {
    text-decoration: none;
    color:var(--black);
}
#submit{
    width: 100%;
}
#login{
margin-top:5em;
width:80%;
}

#login h1{
    margin-top:3em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#login .text-danger {
    padding-top:.5em;
}
