{% extends "layout.twig" %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title> Erreur {{ code is defined ? code : '' }} | {{ parent ()}}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/error.css'>
{% endblock %}

{% block content %}

    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>

        </nav>
    </header>
    <div class="container-fluid" id="error">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" id="errors">
                {% if code is defined %}
                <div class="error-box">

                    {% if code == 401 %}
                        <img src="/assets/img/code_error/401.jpg" alt="401 code error">
                        <p>Vous n'êtes pas autorisée à accéder à cette ressource !</p>
                    {% elseif code == 403 %}
                        <img src="/assets/img/code_error/403.jpg" alt="403 code error">
                        <p>Vous n'êtes pas autorisée à accéder à cette ressource !</p>
                    {% elseif code == 404 %}
                        <img src="/assets/img/code_error/404.jpg" alt="404 code error">
                        <p>La page recherchée n'a pas été trouvée !</p>
                    {% else %}
                        <img src="/assets/img/code_error/500.jpg" alt="500 code error">
                        <p>Désolé, une erreur interne du serveur est survenue.Veuillez réessayer ultérieurement. Merci de votre patience !</p>

                    {% endif %}
                    {% endif %}
                    <a href="/">Retour vers la page d'accueil</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
