{% extends 'layout.twig' %}
{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title>Mot de passe oublié | {{ parent ()}}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/forgot_password.css'>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
            <ul>
                <li><a href="#">Tricks</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid" id="forgot-password">
    <h1 class="text-center" >Mot de passe oublié</h1>
    <div class="row">
        {% if mail_send is defined and mail_send == 1 %}
            <div class="box">
                <p class="bg-success text-white">Un lien de réinitialisation de mot de passe vient de vous être envoyé ! Si vous ne voyez pas le mail dans votre boîte de réception, vérifiez vos spam !</p>
            </div>
{% else %}

                <form class="pt-5" action="/reset-password/" enctype="multipart/form-data" method="post" >

                    {#         USER #}
                    <div class="col-sm-12 col-md-12">
                        <div class="mb-3 user-box">
                            <label for="username" class="form-label">Utilisateur</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="John">
                            <p class="text-danger" id="error-username">
                                {{ errorUsername is defined ? errorUsername : ''}}
                                {{ exceptions.username_exception_forgot_password is defined ? exceptions.username_exception_forgot_password : ''}}
                            </p>
                        </div>
                    </div>
                    <input type="submit" class="btn text-white bg-black mb-3" name="submit" id="submit" value="Réinitialisation de mot de passe">
                </form>

       {% endif %}
    </div>
    </div>
{% endblock %}
