{% extends 'layout.twig' %}

{% block title %}
    <title>Accueil | {{ parent ()}}  </title>
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href='/assets/css/homepage.css'>
{% endblock %}
{% block content %}
    <header>
    <nav>
        <a href="/"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
        <ul>
            <li><a href="#">Tricks</a></li>
            {% if user_connected is defined and user_connected == 1 %}
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/signin">Connexion</a>
                <a href="/signup">Inscription</a>
            {% endif %}
        </ul>
    </nav>

    </header>

    <div class="container-fluid" id="homepage">

    </div>

{% endblock %}
