{% extends "layout.twig" %}
{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title>Inscription | {{ parent ()}}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/sign_up.css'>
{% endblock %}

{% block content %}

    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
            <ul>
                {% if user_connected is defined and user_connected == 1 %}
                <li><a href="/logout">Déconnexion</a></li>
                {% else %}
                <li><a href="/signin">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container-fluid" id="login">
        <h1 class="text-center" >Inscription</h1>
      <div class="row">
          {{ form(form) }}
          </div>
      </div>

{% endblock %}
