{% extends "layout.twig" %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title> Erreur 404 | {{ parent () }}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/error.css'>
{% endblock %}

{% block content %}


    <div class="container-fluid" id="error">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" id="errors">
                <img src="/assets/img/code-error/404.png" alt="404 code error">
                <p>Il semblerait que notre cher Ursoc n'ait pas trouvé ce que vous demandez, il a donc décidé de se la couler douce ça reste un ours non ?</p>

                <a href="/">Retour vers la page d'accueil</a>
            </div>
        </div>

    </div>
{% endblock %}
