{% extends "layout.twig" %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title> Erreur 401 | {{ parent () }}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/error.css'>
{% endblock %}

{% block content %}


    <div class="container-fluid" id="error">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" id="errors">
                <img src="/assets/img/code-error/401.png" alt="401 code error">
                <p>Ha ha ha ! Ursoc vient se réveiller ce qui veut dire que vous n'êtes pas autorisée à accéder à cette ressource ! <br>Après tout qui oserait s'en prendre à un ours aussi mignon ?</p>

                <a href="/">Retour vers la page d'accueil</a>
            </div>
        </div>

    </div>
{% endblock %}
