{% extends "layout.twig" %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title> Erreur 500 | {{ parent () }}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/error.css'>
{% endblock %}

{% block content %}


    <div class="container-fluid" id="error">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" id="errors">
                <img src="/assets/img/code-error/500.png" alt="500 code error">
                <p>Ursoc ne sachant ce qui se passe à décider d'aller prendre le large, vous devriez faire de même le temps que nous réglions le soucis </p>

                <a href="/">Retour vers la page d'accueil</a>
            </div>
        </div>

    </div>
{% endblock %}
